﻿<nav class="flex-column">
    <div class="nav-header">
        <span class="bi bi-list" aria-hidden="true"></span> Navigation
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Dashboard
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="products">
            Products
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="customers">
            Customers
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="pos">
            Point of Sales
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="sales">
            Sales
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="report">
            Report
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="logout">
            Logout
        </NavLink>
    </div>
</nav>